<div class="container__big-card">

  <div class="big-card__picture">
    <img
      src="https://us-tuna-sounds-images.voicemod.net/c6566e5f-06a1-4e63-a8a6-9f21c5b720f8-1664113703970.jpg"
      alt=""
      height="200px"
      srcset=""
    >
  </div>

  <div class="big-card__title">
    <h2><a href="#">Chopper tem seus nudes vazados no Monster Point!</a></h2>
  </div>

  <div class="big-card__description">
    <p>
      Mussum Ipsum, cacilds vidis litro abertis. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo!
      Quem num gosta di mim que vai caçá sua turmis! In elementis mé pra quem é amistosis quis leo.
      Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!
    </p>
  </div>

</div>
