<div class="container__small-card">

  <div class="container__small-card-content">
    <div class="small-card__picture">
      <img
        src="https://preview.redd.it/c9brn2stvwqb1.jpg?auto=webp&s=e657f412452a9ab7b3d73cb5b1d6fc7ecbaa3c2c"
        alt=""
        srcset=""
      >
    </div>

    <div class="small-card__title">
      <h2><a href="#">Kizaru tem filho com Zoro e Luffy descobre que o One Piece era sua fimose!</a></h2>
    </div>
  </div>

  <div class="container__small-card__separator">
    <hr>
  </div>

</div>
